{% extends 'base.html' %}
{% block content_header %}
    <h1>用户管理</h1>
{% endblock %}
{% block main_content %}
    <a href="/users/add/" class="btn btn-primary">添加用户</a>
    <table class="table table-bordered table-striped" style="background-color: white">
        <thead>
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>密码</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users_obj %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.pwd }}</td>
                <td>{{ user.roles }}</td>
                <td>
                    <a href="/users/edit/{{ user.id }}" class="btn btn-primary">编辑</a>
                    <a href="/users/delete/{{ user.id }}" class="btn btn-danger">删除1</a>
                    <button type="button" class="btn btn-success" onClick="foo({{ user.id }})">删除2</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block myscript %}
    <script>
        function foo(pk) {
            swal({
                title:"确定删除该申请吗？",
                type:"warning",
                showCancelButton: true,
                confirmButtonColor: "#2baab1",
                confirmButtonText:"确定",
                cancelButtonText:"取消",
                closeOnConfirm: false,
                closeOnCancel:false
            },
            function(isConfirm){
                if (isConfirm){
                    $.ajax({
                        url:"/users/delete/" + pk,
                        type:"post",
                        success: function(data){
                            /**
                            if (JSON.parse(data).status ===1 ){
                                swal("删除成功!","已删除!","success")
                            }else {
                                swal("删除失败!","","error")
                            }
                             **/
                            alert(data)
                        }
                    })
                }else{
                    swal("取消!","已取消删除!","error")
                }
            })
        }
    </script>
{% endblock %}
